body{
	/*background-image: url("image/background.png");*/
	background-color: rgb(47, 79, 79,0.7);
	font-family: 'Segoe UI';
}

header{
	color :rgb(156,0,0);
	font-size: xx-large;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

h1{
	color: green;
	text-align: center;
}

h2{
	color: red;
	text-align: center;
}

p{
	color: black;
	font-family: Times;
}

ul{
	color: white;
	font-family: Times;
	margin-right: 25%;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;

}
.right{
	margin-left: 50%;
}